<section class="siklllist_section_con" scroll-check>
  <h2 class="title_line">
    <span class="carrot"></span>
    <strong>Skill list</strong>
    <em>Hyeon Ga Ram</em>
  </h2>
  <div class="clearfix"></div>
  <skill-chart [hidden]="true" class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
  </skill-chart>
  <article class="sikllchart col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div>
      <section class="siklllist_section col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div>
          <i class="sikllchart-icon reactive"></i>
          <h3 class="title_line">
            <strong>
              Reactive web
            </strong>
            <em>
              반응형 웹
            </em>
          </h3>
          <p>
            반응형웹 디자인을 기반으로 다양한 디바이스
            (PC, 스마트폰, 스마트TV 등)를 대응하는 웹을 만듭니다.
          </p>
        </div>
      </section>
      <section class="siklllist_section col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div>
          <i class="sikllchart-icon accessibility"></i>
          <h3 class="title_line">
            <strong>
              Accessibility Web
            </strong>
            <em>
              접근성 웹
            </em>
          </h3>
          <p>
            어떤 조건에도 웹에 접근 가능하게 제작합니다.
            어떤 환경에도 같은 정보를 제공하도록 제작합니다.
          </p>
        </div>
      </section>
      <section class="siklllist_section col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div>
          <i class="sikllchart-icon efficiency"></i>
          <h3 class="title_line">
            <strong>
              Work efficiency
            </strong>
            <em>
              효울적 업무
            </em>
          </h3>
          <p>
            작업시 기획적 단계에서부터 접근 하여
            클라이턴트 및 사용자의 불편함을 최소화합니다.
          </p>
        </div>
      </section>
      <section class="siklllist_section col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div>
          <i class="sikllchart-icon teamwork"></i>
          <h3 class="title_line">
            <strong>
              Teamwork
            </strong>
            <em>
              팀 워크
            </em>
          </h3>
          <p>
            웹은 혼자서 만드는 작업이 아닙니다.
            조화가 필요한 작업이기에 업무상의 소통하며 작업합니다.
          </p>
        </div>
      </section>
    </div>
  </article>
  <div class="clearfix"></div>
</section>
