<loading-item></loading-item>
<section class="section adminsideform">
  <form [formGroup]="WritePortfolio" enctype="multipart/form-data" #f2 >
    <ul>
      <li class="input-group">
        <label for="WritePortfolioUrl" class="title item input-group-addon">Url</label>
        <input id="WritePortfolioUrl" type="text" name="url" formControlName="url" class="item form-control" />
      </li>
      <li class="input-group">
        <label for="WritePortfolioThumbnail" class="title item input-group-addon">Thumnail</label>
        <input id="WritePortfolioThumbnail" type="hidden" name="thumnail" formControlName="thumnail" class="item" />
        <input id="WritePortfolioThumbnail" type="file" name="thumnail_file" #thumnail (change)="SubmitPortfolioThumbnail()" class="item form-control" />
      </li>
      <li class="input-group">
        <label for="WritePortfolioTitle" class="title item input-group-addon">Subject</label>
        <input id="WritePortfolioTitle" name="text" type="title" formControlName="title" ngModel class="item form-control" />
      </li>
      <li class="input-group">
        <label for="WritePortfolioDes" class="title item input-group-addon">Des Point</label>
        <input id="WritePortfolioDes" type="text" name="des_percent" formControlName="des_percent" class="item form-control" />
      </li>
      <li class="input-group">
        <label for="WritePortfolioPubl" class="title item input-group-addon">Publ Point</label>
        <input id="WritePortfolioPubl" type="text" name="publ_percent" formControlName="publ_percent" class="item form-control" />
      </li>
      <li class="input-group">
        <label for="WritePortfolioDev" class="title item input-group-addon">Dev Point</label>
        <input id="WritePortfolioDev" type="text" name="dev_percent" formControlName="dev_percent" class="item form-control" />
      </li>
      <li class="input-group">
        <label for="WritePortfolioDesc" class="title item input-group-addon">Desc</label>
        <textarea id="WritePortfolioDesc" type="text" name="desc" formControlName="desc" class="item form-control"></textarea>
      </li>
      <li class="buttonbox admin">
        <button (click)="SubmitPortfolioPost()" class="col-xs-12 col-sm-3 col-md-3 col-lg-3 btn btn-primary button">등록</button>
        <button (click)="DeletePortfolioPost()" class="col-xs-12 col-sm-3 col-md-3 col-lg-3 btn btn-primary button">삭제</button>
      </li>
    </ul>
  </form>
</section>
