<footer id="Menu_Contact" class="copyright_section section">
  <div>
    <h2 class="blind_item">
      연락처 및 문의하기
    </h2>
    <section class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h3 class="blind_item">
        문의하기
      </h3>
      <form [formGroup]="sendEmailForm" #f id="CopyrightContact">
        <ul>
          <li>
            <label for="CopyrightContactName" class="title item col-xs-12 col-sm-12 col-md-12 col-lg-12">Name</label>
            <input id="CopyrightContactName" type="text" name="fromname" formControlName="fromname" class="item col-xs-12 col-sm-12 col-md-12 col-lg-12" />
          </li>
          <li>
            <label for="CopyrightContactSubject" class="title item col-xs-12 col-sm-12 col-md-12 col-lg-12">Subject</label>
            <input id="CopyrightContactSubject" type="text" name="subject" formControlName="subject" class="item col-xs-12 col-sm-12 col-md-12 col-lg-12" />
          </li>
          <li>
            <label for="CopyrightContactEmail" class="title item col-xs-12 col-sm-12 col-md-12 col-lg-12">Email</label>
            <input id="CopyrightContactEmail" name="email" type="email" formControlName="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" ngModel class="item col-xs-12 col-sm-12 col-md-12 col-lg-12" />
          </li>
          <li>
            <label for="CopyrightContactMessage" class="title item col-xs-12 col-sm-12 col-md-12 col-lg-12">Message</label>
            <textarea id="CopyrightContactMessage" name="message" formControlName="message" class="item col-xs-12 col-sm-12 col-md-12 col-lg-12" >
            </textarea>
          </li>
          <li>
            <button (click)="SubmitContactMail()" class="col-xs-12 col-sm-3 col-md-3 col-lg-3 btn btn-primary button">Send Mail</button>
          </li>
        </ul>
      </form>
    </section>
    <section id="CopyrightContact" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h3 class="blind_item">
        연락처
      </h3>
      <ul class="right">
        <li>
          <i class="address"></i>
          <div>
            <h4 class="title item right col-xs-12 col-sm-12 col-md-12 col-lg-12">
              Address
            </h4>
            <p class="item col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <span>경기도 동두천시 동두천동 우방아이유쉘 301-804</span>
              <span>25, Gangbyeon-ro 664beon-gil, Dongducheon-si, Gyeonggi-do, Republic of Korea</span>
            </p>
          </div>
          <div class="clearfix"></div>
        </li>
        <li>
          <i class="call"></i>
          <div>
            <h4 class="title item right col-xs-12 col-sm-12 col-md-12 col-lg-12">
              Call Me
            </h4>
            <p class="item col-xs-12 col-sm-12 col-md-12 col-lg-12">
              010-2503-9269
            </p>
          </div>
          <div class="clearfix"></div>
        </li>
        <li>
          <i class="mail"></i>
          <div>
            <h4 class="title item right col-xs-12 col-sm-12 col-md-12 col-lg-12">
              Mail Me
            </h4>
            <p class="item col-xs-12 col-sm-12 col-md-12 col-lg-12">
              saysun34@gmail.com
            </p>
          </div>
          <div class="clearfix"></div>
        </li>
      </ul>
    </section>
  </div>
  <section class="width-full">
    <span>Copyright(c)2017 Hyeon Garam All rights reserved.</span>
  </section>
</footer>
