<div class="skip-navigation blind">
    <a href="#Menu_Portfolio" role="button">프로필 건너뛰기</a>
</div>
<section id="Menu_Profile" class="profile_section_con section" scroll-check>
  <h2 #hiddenLabel class="title_line">
    <span class="carrot"></span>
    <strong>Profile</strong>
    <em>Hyeon Ga Ram</em>
  </h2>
  <ul class="profile_img">
    <li class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <figure>
        <picture>
          <img src="./../../assets/image/profile/me01.jpg" alt="현가람의 얼굴" />
        </picture>
          <figcaption class="blind">일본여행 중 초밥집 앞에서 놀라가며 찍은 사진입니다</figcaption>
      </figure>
    </li>
    <li class="col-xs-12 col-sm-6 col-md-3 col-lg-3 visible-md visible-lg">
      <figure>
        <picture>
          <img src="./../../assets/image/profile/me02.jpg" alt="현가람의 얼굴" />
        </picture>
          <figcaption class="blind">카페에서 케익 먹기 전에 사진을 찍는 모습입니다</figcaption>
      </figure>
    </li>
    <li class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <figure>
        <picture>
          <img src="./../../assets/image/profile/me03.jpg" alt="현가람의 얼굴" />
        </picture>
          <figcaption class="blind">두 눈 초롱초롱 음식을 기다리는 모습입니다</figcaption>
      </figure>
    </li>
    <li class="col-xs-12 col-sm-6 col-md-3 col-lg-3 visible-md visible-lg">
      <figure>
        <picture>
          <img src="./../../assets/image/profile/me04.jpg" alt="현가람의 얼굴" />
        </picture>
          <figcaption class="blind">카페에서 음악감상중인 모습입니다</figcaption>
      </figure>
    </li>
  </ul>
  <div class="clearfix"></div>
  <p>
    웹이라는 매체가 가진 아름다움과 기능성 그리고 가능성을 아끼고 사랑하는 작업자입니다.<br />
    앞으로도 제가 가지고 연습한 다양한 경험과 지식으로 웹 산업을 사랑하고 아끼고 싶습니다.<br />
    <em>
      <span>1991.01.26</span>
      <span>그림그리기 및 게임하기</span>
      <span>A형</span>
    </em>
  </p>
</section>
