<div class="loading_div section" loading-div>
  <div>
    <div class="loading">
      <i class="point10"></i>
      <i class="point20"></i>
      <i class="point20 point30"></i>
      <i class="point20 point30 point40"></i>
      <i class="point20 point30 point40 point50"></i>
      <i class="point20 point30 point40 point50 point60"></i>
      <i class="point20 point30 point40 point50 point60 point70"></i>
      <i class="point20 point30 point40 point50 point60 point70 point80"></i>
      <i class="point20 point30 point40 point50 point60 point70 point80 point90"></i>
      <i class="point20 point30 point40 point50 point60 point70 point80 point90 point100"></i>
    </div>
  </div>
</div>
