$icon-font-path: "./../fonts/bootstrap/"
@import "./../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss"
@import "https://fonts.googleapis.com/earlyaccess/notosanskr.css"
@import "https://fonts.googleapis.com/css?family=Roboto"
@import "./init.sass"
html body
  font-family: "Noto Sans KR", "Roboto", sans-serif
.carousel-control
  width: 5rem
  z-index: 11
html body .btn-default.bg-none
  background-color: transparent
  border: 1px solid $brand-white
  color: $brand-white
  outline: none
  transition: color 1s 0s, border-color 1s 0s, background-color 1s 0s
  &:hover
    background-color: $brand-white
    border-color: $brand-white
    color: $gray
ul li, ol li
  list-style: none
.blind_item, figcaption
  position: absolute !important
  width: 1px !important
  display: inline-block !important
  overflow: hidden !important
  padding-left: 2px !important
.main-section
  background: $brand-white
  margin-bottom: $copyright-height
  @media screen and (min-width: $screen-md-min)
    margin-bottom: $copyright-md-height
