$icon-font-path: "./../fonts/bootstrap/"
@import "./../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss"
@import "https://fonts.googleapis.com/earlyaccess/notosanskr.css"
@import "https://fonts.googleapis.com/css?family=Roboto"

html body
  font-family: "Noto Sans KR", "Roboto", sans-serif
.carousel-control
  width: 5rem
  z-index: 11
.btn-default.bg-none
  background-color: transparent
  border-color: #d0d0d0
  color: #d0d0d0
  transition: color 1s 0s, border-color 1s 0s
  &:hover
    border-color: #fff
    color: #fff
