@charset "UTF-8";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
/** bootstrap custermize **/
html .btn { border: 0px; text-transform: uppercase; }

.section { margin: 0rem; padding: 0rem; display: block; width: 100%; }

/** variables **/
.copyright_section { background: #080b17; color: white; font-size: 1.3rem; line-height: 3rem; width: 100%; height: auto; }

@media screen and (min-width: 992px) { .copyright_section { height: 58vw; position: fixed; bottom: 0; z-index: -1; }
  .copyright_section:hover { z-index: 0; } }

@media screen and (min-width: 1200px) { .copyright_section { height: 40vw; } }

.copyright_section > div { display: table !important; height: calc(auto - 5rem); width: 100%; padding: 2rem 0rem; padding-right: 5% !important; padding-left: 5% !important; margin: auto; }

@media screen and (min-width: 992px) { .copyright_section > div { padding-top: 0rem; padding-bottom: 0rem; height: calc(58vw - 5rem); } }

@media screen and (min-width: 1200px) { .copyright_section > div { height: calc(40vw - 5rem); } }

.copyright_section > div > section { display: table-cell !important; vertical-align: middle; padding: 0rem; float: left !important; }

@media screen and (min-width: 992px) { .copyright_section > div > section { height: calc(58vw - 5rem); margin-left: 3% !important; float: none !important; } }

@media screen and (min-width: 1200px) { .copyright_section > div > section { height: calc(40vw - 5rem); } }

.copyright_section > div > section + section { padding-top: 2rem; }

.copyright_section > div > section ul { padding: 0rem 2.5%; }

.copyright_section > div > section li { padding: 0rem; }

.copyright_section > div > section li:first-child .item { margin-top: 0rem; }

.copyright_section > div > section li input, .copyright_section > div > section li textarea { display: inline-block; vertical-align: middle; border-radius: 0rem; border: 0rem; padding: 0.7rem; padding-left: 1.4rem; width: 100%; height: 4rem; background: #ffffff; color: #101115; }

.copyright_section > div > section li textarea { height: 10rem; }

.copyright_section > div > section .item { margin-left: 0rem; margin-right: 0rem; padding: 0rem; }

.copyright_section > div > section .item.title { margin-top: 1.5rem; text-transform: uppercase; }

.copyright_section > div > section .item.right { margin-top: 0.2rem; margin-bottom: 1rem; }

.copyright_section > div > section .btn { margin-top: 1rem; }

.copyright_section > div > section i { display: block; }

.copyright_section > div > section i:after { display: block; }

.copyright_section > div > section i.address:after { font-family: 'FontAwesome'; font-size: 2rem; font-style: normal; content: ""; color: #ffffff; margin-top: 0rem; }

.copyright_section > div > section i.call:after { font-family: 'FontAwesome'; font-size: 2rem; font-style: normal; content: ""; color: #ffffff; margin-top: 1rem; }

.copyright_section > div > section i.mail:after { font-family: 'FontAwesome'; font-size: 2rem; font-style: normal; content: ""; color: #ffffff; margin-top: 1rem; }

.copyright_section .width-full { width: 100%; height: 5rem; line-height: 5rem; font-size: 1rem; text-align: center; background: #10162e; }

@media screen and (min-width: 992px) { .copyright_section .width-full { font-size: 1.3rem; } }
