.navbar { position: absolute; z-index: 12; width: 100%; background: url(./../image/transparent.png); border: 0rem; margin-bottom: 0rem; }

.navbar-header { float: right; }

.navbar-header .gnb-toggle-btn { position: absolute; z-index: 12; background: url(./../image/transparent.png); border: 0rem; padding: 2rem 0rem; right: 1.5rem; }

.navbar-header .gnb-toggle-btn .icon-bar { display: block; width: 2.5rem; height: 0.3rem; border-radius: 0.5rem; background: #ffffff; margin-bottom: 0.8rem; }

.navbar-header .gnb-toggle-btn .icon-bar:last-child { margin-bottom: 0rem; }
