@import "./init.sass"
ul.profile_img
  padding: 0rem
  li
  text-align: center
  figure img
    display: block
    max-width: 14rem
    border-radius: 50%
    margin: 3rem auto 5rem auto
.profile_section_con
  background: $gray-lightst
  p
    display: block
    width: 100%
    text-align: center
    line-height: 2.3rem
    margin-top: 3rem
    padding-bottom: 8.3rem
    em
      display: block
      text-align: center
      font-style: normal
      span
        display: inline-block
        color: $brand-info
        font-weight: 700
        margin-top: 1rem
        margin-right: 1rem
        &:after
          display: inline-block
          margin-left: 1rem
          content: "·"
        &:last-child
          margin-right: 0rem
        &:last-child:after
          display: none
