/** variables **/
body { border: 0rem; }

.portfolio_list ul { position: relative; width: 100%; margin: 0rem; padding: 0rem; content: ""; display: block; float: none; clear: both; }

.portfolio_list ul li { position: absolute; display: block; float: left; top: 0px; left: 0px; height: auto; overflow: hidden; background: black; }

.portfolio_list ul li img { width: 100%; height: auto; opacity: 0.4; transform: scale(1); transition: transform 2s 0s; }

.portfolio_list ul li:hover { cursor: pointer; }

.portfolio_list ul li:hover img { transform: scale(1.3) !important; }

.portfolio_info { position: relative; width: 100%; height: 100%; }

.portfolio_info div.top { position: absolute; width: 100%; height: 100%; }

.portfolio_info div.top div.table { display: table; width: 100%; height: 100%; }

.portfolio_info div.top div.table div.cell { display: table-cell; width: 100%; height: 100%; vertical-align: middle; }

.portfolio_info div.top div.table div.cell h3 { width: 100%; padding-top: 0rem; margin-top: 0rem; margin-bottom: 1.5rem; color: #ffffff; font-size: 1.7rem; font-weight: 400; text-align: center; }

.portfolio_info div.top div.table div.cell div { width: 100%; text-align: center; }
