<div class="loading_div section" loading-div>
  <div>
    <div class="loading">
      <i class="point10"></i>
      <i class="point20"></i>
      <i class="point20 point30"></i>
      <i class="point20 point30 point40"></i>
      <i class="point20 point30 point40 point50"></i>
      <i class="point20 point30 point40 point50 point60"></i>
      <i class="point20 point30 point40 point50 point60 point70"></i>
      <i class="point20 point30 point40 point50 point60 point70 point80"></i>
      <i class="point20 point30 point40 point50 point60 point70 point80 point90"></i>
      <i class="point20 point30 point40 point50 point60 point70 point80 point90 point100"></i>
    </div>
  </div>
</div>
<gnb>
</gnb>
<main class="main-section section">
  <section style="text-align:center" class="section">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <visual-item></visual-item>
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </a>
    </div>
  </section>
  <profile-me class="section"></profile-me>
  <portfolio-list class="section">
  </portfolio-list>
  <skill-list class="section"></skill-list>
</main>
<copyright-item class="section"></copyright-item>
