<gnb>
</gnb>
<main class="main-section">
  <section style="text-align:center">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <visual-item></visual-item>
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </a>
    </div>
  </section>
  <profile-me class="profile_section"></profile-me>
  <portfolio-list>
  </portfolio-list>
  <skill-list></skill-list>
</main>
<copyright-item></copyright-item>
