<gnb>
</gnb>
<section style="text-align:center">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <visual-item></visual-item>
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </a>
  </div>
</section>
<portfolio-list>
</portfolio-list>
<profile-me class="profile_section"></profile-me>
<skill-list></skill-list>
