<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="gnb-toggle-btn collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="gnb-navbar collapse navbar-collapse load" id="bs-example-navbar-collapse-1">
      <div>
        <ul class="nav navbar-nav">
          <li><a href="#" data-targeting="Menu_Profile" data-targettag="menu" menu-item>Profile</a></li>
          <li><a href="#" data-targeting="Menu_Portfolio" data-targettag="menu" menu-item>Portfolio</a></li>
          <li><a href="#" data-targeting="Menu_Skilllist" data-targettag="menu" menu-item>Skill list</a></li>
          <li><a href="#" data-targeting="Menu_Contact" data-targettag="menu" menu-item>Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
