<ol *ngIf="false" aria-controls="MainVisualSlider" class="carousel-indicators">
  <li *ngFor="let item of main_visual_items; let i=index; let first=first; let last=last;" [attr.aria-selected]="first" [attr.aria-controls]="'SliderItem0'+(i+1)"  data-target="#carousel-example-generic" [attr.data-slide-to]="i">
    <button *ngIf="first" class="active">active</button>
    <button *ngIf="!first">non-active</button>
  </li>
</ol>
<div id="MainVisualSlider" aria-live="polite" class="carouselinner carousel-inner" role="listbox">
  <ng-container *ngFor="let item of main_visual_items; let i=index; let first=first; let last=last;">
    <div *ngIf="first" id="SliderItem0{{i+1}}" [attr.aria-hidden]="!first" class="item active">
      <figure>
        <picture>
          <source media="(min-width: 320px)" type="image/jpg"
          srcset="{{item.main_visual_img_mobile}} 1x, {{item.main_visual_img_mobile}} 2x,
          {{item.main_visual_img_mobile}} 3x">
          <source media="(min-width: 768px)" type="image/jpg"
          srcset="{{item.main_visual_img_mobile}} 1x, {{item.main_visual_img_mobile}} 2x,
          {{item.main_visual_img_mobile}} 3x">
          <source media="(min-width: 992px)" type="image/jpg"
          srcset="{{item.main_visual_img}} 1x, {{item.main_visual_img}} 2x,
          {{item.main_visual_img}} 3x">
          <source media="(min-width: 1200px)" type="image/jpg"
          srcset="{{item.main_visual_img}} 1x, {{item.main_visual_img}} 2x,
          {{item.main_visual_img}} 3x">
          <img src="">
        </picture>
        <figcaption class="blind">{{item.main_visual_desc}}</figcaption>
      </figure>
      <div class="carousel-caption">
        <div><div>
          <h2 class="visible-md visible-lg">{{item.main_visual_title_md}}</h2>
          <h2 class="visible-xs visible-sm">{{item.main_visual_title}}</h2>
          <span>{{item.main_visual_title_eng}}</span>
          <a class="btn btn-default bg-none" data-targeting="Menu_Portfolio" data-targettag="anchor" menu-item>VIEW PORTFOLIO</a>
        </div></div>
      </div>
    </div>
    <div *ngIf="!first" id="SliderItem0{{i+1}}" [attr.aria-hidden]="!first" class="item">
      <figure>
        <picture>
          <source media="(min-width: 320px)" type="image/jpg"
          srcset="{{item.main_visual_img_mobile}} 1x, {{item.main_visual_img_mobile}} 2x,
          {{item.main_visual_img_mobile}} 3x">
          <source media="(min-width: 768px)" type="image/jpg"
          srcset="{{item.main_visual_img_mobile}} 1x, {{item.main_visual_img_mobile}} 2x,
          {{item.main_visual_img_mobile}} 3x">
          <source media="(min-width: 992px)" type="image/jpg"
          srcset="{{item.main_visual_img}} 1x, {{item.main_visual_img}} 2x,
          {{item.main_visual_img}} 3x">
          <source media="(min-width: 1200px)" type="image/jpg"
          srcset="{{item.main_visual_img}} 1x, {{item.main_visual_img}} 2x,
          {{item.main_visual_img}} 3x">
          <img src="">
        </picture>
        <figcaption class="blind">{{item.main_visual_desc}}</figcaption>
      </figure>
      <div class="carousel-caption">
        <div><div>
          <h2 class="visible-md visible-lg">{{item.main_visual_title_md}}</h2>
          <h2 class="visible-xs visible-sm">{{item.main_visual_title}}</h2>
          <span>{{item.main_visual_title_eng}}</span>
          <a class="btn btn-default bg-none" data-targeting="Menu_Portfolio" data-targettag="anchor" menu-item>VIEW PORTFOLIO</a>
        </div></div>
      </div>
    </div>
  </ng-container>
</div>
