<ol *ngIf="false" aria-controls="MainVisualSlider" class="carousel-indicators">
  <li *ngFor="let item of main_visual_items; let i=index; let first=first; let last=last;" [attr.aria-selected]="first" [attr.aria-controls]="'SliderItem0'+(i+1)"  data-target="#carousel-example-generic" [attr.data-slide-to]="i">
    <button *ngIf="first" class="active">active</button>
    <button *ngIf="!first">non-active</button>
  </li>
</ol>
<div id="MainVisualSlider" aria-live="polite" class="carouselinner carousel-inner" role="listbox">
  <ng-container *ngFor="let item of main_visual_items; let i=index; let first=first; let last=last;">
    <div *ngIf="first" id="SliderItem0{{i+1}}" [attr.aria-hidden]="!first" class="item active">
      <figure>
        <picture>
          <source *ngIf="main_visual_width == 'lg'" media="(max-width: 1200px)" srcset="./../../../assets/image/visual/main_visual01.jpg">
          <source *ngIf="main_visual_width == 'md'" media="(min-width: 992px)" srcset="./../../../assets/image/visual/main_visual01.jpg">
          <source *ngIf="main_visual_width == 'sm'" media="(min-width: 768px)" srcset="./../../../assets/image/visual/main_visual01_mobile.jpg">
          <source *ngIf="main_visual_width == 'xs'" media="(min-width: 320px)" srcset="./../../../assets/image/visual/main_visual01_mobile.jpg">
          <img src="./../../../assets/image/visual/main_visual01.jpg" class="visible-md visible-lg">
          <img src="./../../../assets/image/visual/main_visual01_mobile.jpg" class="visible-xs visible-sm">
        </picture>
        <figcaption class="blind">{{item.main_visual_desc}}</figcaption>
      </figure>
      <div class="carousel-caption">
        <div><div>
          <h2 class="visible-md visible-lg">{{item.main_visual_title_md}}</h2>
          <h2 class="visible-xs visible-sm">{{item.main_visual_title}}</h2>
          <span>{{item.main_visual_title_eng}}</span>
          <a class="btn btn-default bg-none" data-targeting="Menu_Portfolio" data-targettag="anchor" menu-item>VIEW PORTFOLIO</a>
        </div></div>
      </div>
    </div>
    <div *ngIf="!first" id="SliderItem0{{i+1}}" [attr.aria-hidden]="!first" class="item">
      <figure>
        <picture>
          <source *ngIf="main_visual_width == 'lg'" media="(max-width: 1200px)" srcset="./../../../assets/image/visual/main_visual02.jpg">
          <source *ngIf="main_visual_width == 'md'" media="(min-width: 992px)" srcset="./../../../assets/image/visual/main_visual02.jpg">
          <source *ngIf="main_visual_width == 'sm'" media="(min-width: 768px)" srcset="./../../../assets/image/visual/main_visual02_mobile.jpg">
          <source *ngIf="main_visual_width == 'xs'" media="(min-width: 320px)" srcset="./../../../assets/image/visual/main_visual02_mobile.jpg">
          <img src="./../../../assets/image/visual/main_visual02.jpg" class="visible-md visible-lg">
          <img src="./../../../assets/image/visual/main_visual02_mobile.jpg" class="visible-xs visible-sm">
        </picture>
        <figcaption class="blind">{{item.main_visual_desc}}</figcaption>
      </figure>
      <div class="carousel-caption">
        <div><div>
          <h2 class="visible-md visible-lg">{{item.main_visual_title_md}}</h2>
          <h2 class="visible-xs visible-sm">{{item.main_visual_title}}</h2>
          <span>{{item.main_visual_title_eng}}</span>
          <a class="btn btn-default bg-none" data-targeting="Menu_Portfolio" data-targettag="anchor" menu-item>VIEW PORTFOLIO</a>
        </div></div>
      </div>
    </div>
  </ng-container>
</div>
